/* 
* @Author: anchen
* @Date:   2015-12-12 15:41:41
* @Last Modified by:   anchen
* @Last Modified time: 2015-12-14 22:50:18
*/
/*全局样式*/
html,body,nav,ul,li,input{
    margin:0;
    padding:0;

    border:0;
}
html,
body{
    width:100%;
    height:100%;

    font-family:"microsoft yahi","helvetica neue","Helvetica",arial,sans-serif;
    font-weight: normal;
    font-size:1rem;

    background-color:#00BCD4; 
}
li{
    list-style:none outside;
}
input:focus{
    outline:1px solid #00BCD4;
}
a:link,
a:hover,
a:visited,
a:active{
    text-decoration: none;
}
header{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}
/*清除浮动*/
.clearfix:after{
    display:block;
    clear:both;
    content:"";
    visibility:hidden;
    height:0
} 
.clearfix{
    zoom:1；
} 
/*导航*/
nav.nav{
    height:50px;
    line-height: 50px;
    width:100%;

    position:fixed;
    top:0;
    left:0;
    z-index:999;

    background-color:#fff;
    border-bottom:1px solid #f7f7f7;
    overflow: hidden;
}
.warp{
    width:90%;
    margin:0 auto;

    position:relative;
    top:0;
    left:0;
}
.nav .logo{
    float:left;
    font-size: 19px;

}
/*.nav ul{
    margin-right:10%;
}*/
.nav ul li{
    float:left;
}
.about_us,
.search_btn_click{
    float:right;
}
.nav_style li a{
    color:#ccc;
    font-weight:700;
    font-size: 1rem;

    display: inline-block;
    padding: 0px 15px;
}
.nav_style .current a,.nav_style li a:hover{
    color:#fff;
    font-weight:700;

    background-color:#00BCD4;
}
.about_us,
.search_btn_click{
    display: inline-block;
    padding: 0px 15px;
    cursor:pointer;
}
.search_box{
    position:fixed;
    right:0;

    width:100%;

    border:1px solid #eee;
    background:rgba(255,255,255,.9);
    z-index:999;
}
.search_box form{
    padding: 25px 25%;
    overflow: hidden;
}
input[type="search"] {
    display: block;

    width: 100%;
    padding-left: 10px;
    padding-right: 32px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-writing-mode: horizontal-tb;
    background: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.search_box input[type="search"] {
    border: 0;
    width: 90%;
    height: 50px;

    float: left;
    padding-right: 10px;

    margin: 0 auto;
    font-size: 17px;
    line-height: 30px;
    border: solid 2px #ddd;
    border-right: none;
    border-radius: 2px;
    outline:none;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus,
input[type="search"]:focus{
    border: solid 2px #00BCD4;
}
.search_btn{
    color: #fff;
    font-size: 16px;

    border: none;
    background-color:#00BCD4;
    padding: 0 12px;
    border-radius: 0 2px 2px 0;

    width: 10%;
    height: 50px;
    cursor: pointer;
}
#search_box{
    -webkit-animation:fadeInDown 1s .2s ease both;
    -moz-animation:fadeInDown 1s .2s ease both;
}
@keyframes fadeInDown{
    0%{opacity:0;transform:translateY(-30px)}
    100%{opacity:1;transform:translateY(0)}
}
@-webkit-keyframes fadeInDown{
    0%{opacity:0;-webkit-transform:translateY(-30px)}
    100%{opacity:1;-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInDown{
    0%{opacity:0;-moz-transform:translateY(-30px)}
    100%{opacity:1;-moz-transform:translateY(0)}
}
.title {
    font-weight:500;
    font-weight: bold\0;
    color: #4d4d4d;
    text-align: center;

    width: 100%; 
}